html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*---------------------------body--------------------------*/
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 auto;
}
/*-------------------------container 1----------------------*/
#container1 {
    border: 1px solid black;
    width: 296px;
    height: 296px;
}
/*-------------------------container 2----------------------*/
#container2 {
    width: 276px;
    height: 276px;
    border: 10px solid #CBCBCB;
}
/*-------------------------container 3----------------------*/
#container3 {
    width: 256px;
    height: 256px;
    border: 10px solid #8F8D8F;
    border-right: 10px solid #E8E8E8;
    border-bottom: 10px solid #E8E8E8;
    display: flex;
    flex-wrap: wrap;
}
/*----------------------------case 1------------------------*/
.case1 {
    width: 30px;
    height: 30px;
    border: 1px dotted black;
    font-size: 30px;
    color: #0E2FFF;
    font-weight: bold;
    background-color: #CBCBCB;
    text-align: center;
}
/*----------------------------case 2------------------------*/
.case2 {
    width: 30px;
    height: 30px;
    border: 1px dotted black;
    font-size: 30px;
    color: #008F00;
    font-weight: bold;
    background-color: #CBCBCB;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*----------------------------case 3------------------------*/
.case3 {
    width: 30px;
    height: 30px;
    border: 1px dotted black;
    font-size: 30px;
    color: #FF2900;
    font-weight: bold;
    background-color: #CBCBCB;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/*--------------------------case vide-----------------------*/
.case_vide {
    width: 30px;
    height: 30px;
    border: 1px dotted black;
    background-color: #CBCBCB;
    justify-content: center;
    align-items: center;
}
/*------------------------ case pleine----------------------*/
.case_pleine:hover {
    width: 30px;
    height: 30px;
    border: 1px dotted black;
    background: url("images/casevide.jpg");
    justify-content: center;
    align-items: center;
}
.case_pleine {
    width: 30px;
    height: 30px;
    border: 1px dotted black;
    background: url("images/Case_pleine.jpg");
    justify-content: center;
    align-items: center;
}
.case_pleine1:hover {
    width: 30px;
    height: 30px;
    background: url("images/1.jpg");
    justify-content: center;
    align-items: center;
}
.case_pleine1 {
    width: 30px;
    height: 30px;
    border: 1px dotted black;
    background: url("images/Case_pleine.jpg");
    justify-content: center;
    align-items: center;
}
.case_pleine2:hover {
    width: 30px;
    height: 30px;
    background: url("images/2.jpg");
    justify-content: center;
    align-items: center;
}
.case_pleine2 {
    width: 30px;
    height: 30px;
    border: 1px dotted black;
    background: url("images/Case_pleine.jpg");
    justify-content: center;
    align-items: center;
}
.case_pleine3:hover {
    width: 30px;
    height: 30px;
    background: url("images/3.jpg");
    justify-content: center;
    align-items: center;
}
.case_pleine3 {
    width: 30px;
    height: 30px;
    border: 1px dotted black;
    background: url("images/Case_pleine.jpg");
    justify-content: center;
    align-items: center;
}
.case_pleinebombe:hover {
    width: 30px;
    height: 30px;
    background: url("images/bombepaint.jpg");
    justify-content: center;
    align-items: center;
}
.case_pleinebombe {
    width: 30px;
    height: 30px;
    border: 1px dotted black;
    background: url("images/Case_pleine.jpg");
    justify-content: center;
    align-items: center;
}
/*------------------------- case bombe----------------------*/
.case_bombe {
    width: 30px;
    height: 30px;
    border: 1px dotted black;
    background-color: #CBCBCB;
}
img {
    width: 100%;
    height: auto;
}

